doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='chatafoo')
    title Chat and Bye
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')

    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bower_components/underscore/underscore-min.js')
    script(type='text/javascript', src='bower_components/backbone/backbone-min.js')
    script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='bower_components/moment/moment.js')

  body
    block content
